.footer {
    position : absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
}

.toast-fade {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast-fade.show {
    opacity: 1;
    transform: translateY(0);
}